/* Frame 12 */
.frame-12 {
    width: 21.5rem;
    height: 9.5625rem;
    flex-shrink: 0;
    border-radius: 1.25rem;

    position: absolute;
    left: calc(50% - 21.5rem/2);
    top: 263px;

    background: #FFFFFF;

}