  /* .MuiBottomNavigationAction-iconOnly.Mui-selected{
    color: black;
  } */
  /* .MuiButtonBase-root{
    color: black !important;
  } */
  .MuiBottomNavigationAction-root.Mui-selected{
    color : black !important;
  }

  

  .MuiBottomNavigationAction-root{
    color : #959595 !important;
    min-width: 0 !important;
    padding: 7px 12px 0px !important;
    max-width: 100%;
  }
  
  .MuiBottomNavigation-root{
    background-color: #E1E1E1 !important;
  }